.expenseContainer {
	height: 100%;
	#charts {
		display: inline-flex;
		width: 100%;
		.chart {
		}
		#total {
			margin: 12vh 0;
			margin-left: 5vw;
			width: 500px;
			height: 500px;
			text-align: center;
			h1 {
				margin-top: 5vh;
				font-size: 96px;
				color: #347571;
			}
		}
		#infoCharts {
			margin-top: -4vh;
			margin-left: 2.5vw;
			display: inline-flex;
			flex-wrap: wrap;
		}
		.smallChart {
			margin-bottom: -10vh;
			display: inline-block;
			height: 400px;
			width: 400px;
			text-align: center;
			line-height: -10vh;
			h2 {
				margin-top: -6vh;
				font-size: 32px;
			}
		
			p {
				font-size: 24px;
			}
		}
	}
}


#block{
    margin-top: 100px;
}

#addBtn{

        padding: 1vh 1vw;
        width: 10vw;
        height: 2vw;
        background-color: white;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
        z-index: 10001;
        border-radius: 15px;
        outline: 5px solid #2B9987;

        position: absolute;
right: 10px;
top: 5px;
margin-top: 8px;
border: none;
}

#addBtn:hover {
	cursor: pointer;
}

// .checkboxCSS{
//     width: 1.75rem;
//     height: 1.75rem;
//     color: #35B276;
//     vertical-align: middle;
//     background: none;
//     border: 0;
//     outline: 0;
//     flex-grow: 0;
//     border-radius: 50%;
//     background-color: #FFFFFF;
//     transition: background 300ms;
//     cursor: pointer;

// margin: 10px;

// }

#centering{
    margin: auto;
}