@font-face {
    font-family: 'OpenSauce';
    src: url("../Fonts/OpenSauce.ttf");
}

.LogInPageContainer {
    background-image: url("../Components/short term goals background.png");
    position: relative;
    top: 1000px;
    //background-size: cover;
}