@font-face {
    font-family: 'OpenSauce';
    src: url("../Fonts/OpenSauce.ttf");
}

.LogInPageContainer {
    background-image: url("../Components/short term goals background.png");
    background-position: top;
    background-position-y: 0%;
    height: 810px;
    background-size: cover;
}

.ContentsContainer {
    background-color: #f7fdf3;
    margin: auto;
    margin-top: 5%;
    display: block;
    //border: 3px solid #f7fdf3;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 10px 8px 10px #DCF4CE;
    text-align: center;
    width: 60%;
    height: 76%;
}   

.WordsContainer {
    font-family: "OpenSauce";
    display: block;
    //border: 3px solid red;
    position: relative;
    top: 40px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.WordsContainer h1 {
    letter-spacing: 0.08em;
    color: #5ec57e;
    font-weight: lighter;
    font-size: 220%;
}

.WordsContainer p {
    margin-left: 0em;
    text-transform: none;
    color: #347571;
    font-size: 140%;
    letter-spacing: 0em;
    line-height: 1.3em;
    direction: ltr;
    padding-bottom: -10;
    margin-bottom: -10;
}

.InputSpaces h4 {
    border: 3px solid #f7fdf3;
    display: block;
    margin-left: 0em;
    color: #347571;
    letter-spacing: 0.08em;
    line-height: 1.3em;
    direction: ltr;
    text-align: center;
    font-size: 130%;
}

.inputContainer {
    border: 3px solid #f7fdf3;
    display: flex;
    margin-top: -1.5em;
    justify-content: center;
    position: relative;
    top: 10px;
}

.inputContainer input[type=text] {
    background-color: #b8e28a;
    color: white;
    text-decoration-color: aliceblue;
    border-radius: 100px;
    border: none;
    width: 45%;
    padding: 13px;
    font-size: 20px;
    letter-spacing: 0em;
    line-height: 1.3em;

}

.inputContainer input[type="text"]::placeholder {
    color: white;
    font-family: "OpenSauce";
    letter-spacing: 0.2em;
}

.AccountPromptContainer {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}

#registrationButton {
    margin-left: 10px;
    font-weight: bolder;
}

.LogInButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -1%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.LogInButton:hover {
	cursor: pointer;
}

.LogInPageContainer a {
	text-decoration: none;
}

.LogInButton p {
    background-color: #35B276;
    letter-spacing: 0.1em;
    color: white;
    width: 20%;
    text-align: center;
    border-radius: 110px;
    font-family: "OpenSauce";
    padding: 0.3em;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
