@font-face {
    font-family: 'OpenSauce';
    src: url("../Fonts/OpenSauce.ttf");
}

.pageContainer {
    background-image: url("../Components/short term goals background.png");
    background-position: top;
    background-position-y: 35%;
    height: 900px;
}

.headingsContainer {
    background-size: contain;
    font-size: 20px;
    letter-spacing: 0.2em;
    font-family: "OpenSauce";
    color: #5ec57e;
    text-align: center;
    line-height: 1.28em;
    direction: ltr;
}

.headingsContainer h6 {
    border: 1px solid green;
    font-size: 12px;
    text-transform: none;
    width: 100%;
    color: #347571;
    letter-spacing: 0.01em; 
    padding-top: 0.5%;
    line-height: 0em;
    direction: ltr;
    text-align: center;
}

.headingsContainer img {
    border: 1px solid green;
    right: 450px;
    bottom: 65px;
    width: 60px;
    height: auto;
    position: relative;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid green;
    top: 10px;
}

.searchBarContainer input[type=text] {
    background-color: #35B276;
    color: white;
    text-decoration-color: aliceblue;
    border-radius: 10px;
    border: none;
    padding: 6px;
    font-size: 10px;
    letter-spacing: 0em;
    line-height: 1.3em;

}

.searchBarContainer input[type="text"]::placeholder {
    border: 1px solid green;
    color: white;
    font-family: "OpenSauce";
    letter-spacing: 0.1em;
}

.searchBarContainer img {
    height: 13px;
    position: relative;
    right: 25px;
    padding-top: 5px;

}

