@font-face {
    font-family: 'OpenSauce';
    src: url('../Fonts/OpenSauce.ttf');
}

nav {
	font-family: "OpenSauce";
	letter-spacing: 0.5em;
	top: 0;
	width: 100%;
	height: 64px;
	background-color: #35B276;
	z-index: 9999;
	position: sticky;
	display: flex;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	li {
		list-style-type: none;	
		margin: auto 0;
		a {
			&:hover {
				color: white;
			}
			display: inline-flex;	
			font-size: 2.5vh;
			margin: 0 2.5vw;
			text-decoration: none;
			color: #034440;
		}
	}
}

#logos {
	position: absolute;
	width: 50px;
	justify-content: center;
	align-items: center;
	display: flex;
	top: 15%;
}